<section class="section-cards">
	<main>
	  <img src="/images/Dragon.jpg" alt="" />
	  <h2
		class="text-transparent bg-clip-text bg-gradient-to-br from-indigo-600 from-10% via-primary via-30% to-green-600 font-semibold"
	  >
		Dragon Ball
	  </h2>
	  <p>Un verdadero clasico</p>
	  <span>
		<a transition:animate="slide" class="button" href="/md/first"> <span>Detalles</span></a>
		<h4>Calificacion: 100%</h4>
	  </span>
	</main>
  
	<main>
	  <img src="/images/Bleach.jpg" alt="" />
	  <h2
		class="text-transparent bg-clip-text bg-gradient-to-br from-indigo-600 from-10% via-primary via-30% to-green-600 font-semibold"
	  >
		Bleach
	  </h2>
	  <p>Otro clasico que no puede faltar</p>
	  <span>
		<a transition:animate="slide" class="button" href="/md/second"> <span>Detalles</span></a>
  
		<h4>Calificacion: 100%</h4>
	  </span>
	</main>
  
	<main>
	  <img src="/images/One Piece.jpg" alt="" />
	  <h2
		class="text-transparent bg-clip-text bg-gradient-to-br from-indigo-600 from-10% via-primary via-30% to-green-600 font-semibold"
	  >
		One Piece
	  </h2>
	  <p>Un clasico que sigue aun en la actualidad vigente</p>
	  <span>
		<a transition:animate="slide" class="button" href="/md/third"> <span>Detalles</span></a>
  
		<h4>Calificacion: 100%</h4>
	  </span>
	</main>
  
	<main>
	  <img src="/images/Naruto.jpg" alt="" />
	  <h2
		class="text-transparent bg-clip-text bg-gradient-to-br from-indigo-600 from-10% via-primary via-30% to-green-600 font-semibold"
	  >
		Naruto
	  </h2>
	  <p>¿Quien no quiere ser un ninja?</p>
	  <span>
		<a transition:animate="slide" class="button" href="/md/fourth"> <span>Detalles</span></a>
  
		<h4>Calificacion: 100%</h4>
	  </span>
	</main>
  
	<main>
	  <img src="/images/Dororo.jpg" alt="" />
	  <h2
		class="text-transparent bg-clip-text bg-gradient-to-br from-indigo-600 from-10% via-primary via-30% to-green-600 font-semibold"
	  >
		Dororo
	  </h2>
	  <p>Una verdadera obra de arte</p>
	  <span>
		<a transition:animate="slide" class="button" href="/md/fifth"> <span>Detalles</span></a>
  
		<h4>Calificacion: 100%</h4>
	  </span>
	</main>
  
	<main>
	  <img src="/images/Berserk.jpg" alt="" />
	  <h2
		class="text-transparent bg-clip-text bg-gradient-to-br from-indigo-600 from-10% via-primary via-30% to-green-600 font-semibold"
	  >
		Berserk
	  </h2>
	  <p>Si te gusta la accion "Berserk" es para ti</p>
	  <span>
		<a transition:animate="slide" class="button" href="/md/sixth"> <span>Detalles</span></a>
  
		<h4>Calificacion: 100%</h4>
	  </span>
	</main>
  
	<main>
	  <img src="/images/Caballeros del zodiaco.jpg" alt="" />
	  <h2
		class="text-transparent bg-clip-text bg-gradient-to-br from-indigo-600 from-10% via-primary via-30% to-green-600 font-semibold"
	  >
		Caballeros del sodiaco
	  </h2>
	  <p>No se que edad tengas pero este anime fue la infancia de muchos</p>
	  <span>
		<a transition:animate="slide" class="button" href="/md/seven"> <span>Detalles</span></a>
  
		<h4>Calificacion: 100%</h4>
	  </span>
	</main>
  
	<main>
	  <img src="/images/Sailor moon.jpg" alt="" />
	  <h2
		class="text-transparent bg-clip-text bg-gradient-to-br from-indigo-600 from-10% via-primary via-30% to-green-600 font-semibold"
	  >
		Sailor Moon
	  </h2>
	  <p>El verdadero origen de las transformaciones epicas</p>
	  <span>
		<a transition:animate="slide" class="button" href="/md/eigth"> <span>Detalles</span></a>
  
		<h4>Calificacion: 100%</h4>
	  </span>
	</main>
  
	<main>
	  <img src="/images/Mazinger.jpg" alt="" />
	  <h2
		class="text-transparent bg-clip-text bg-gradient-to-br from-indigo-600 from-10% via-primary via-30% to-green-600 font-semibold"
	  >
		Mazinger Z
	  </h2>
	  <p>Otra joya clasica que no te puedes perder</p>
	  <span>
		<a transition:animate="slide" class="button" href="/md/nine"> <span>Detalles</span></a>
  
		<h4>Calificacion: 100%</h4>
	  </span>
	</main>
  </section>
  
  <style>
	.section-cards {
	  width: 100%;
	  height: auto;
	  display: flex;
	  justify-content: center;
	  flex-wrap: wrap;
	  gap: 60px;
	}
	main {
	  width: 320px;
	  height: 360px;
	  border-radius: 8px;
	  backdrop-filter: blur(0px) saturate(100%);
	  -webkit-backdrop-filter: blur(16px) saturate(180%);
	  background-color: rgba(14, 13, 13, 0.2);
	  display: flex;
	  flex-direction: column;
	  gap: 10px;
	}
  
	main h2 {
	  text-align: center;
	}
	main p {
	  font-size: 13px;
	  max-width: 310px;
	  text-align: center;
	}
  
	main:hover {
	  transform: scale(1.01);
	  transition: all 0.3s ease;
	}
  
	main img {
	  width: 100%;
	  height: 210px;
	  border-radius: 8px;
	}
  
	main span {
	  display: flex;
	  justify-content: space-between;
	  padding: 0 10px;
	}
  
	.button {
	  --color: #ffffff;
	  width: 65px;
	  height: 28px;
	  background-color: transparent;
	  border-radius: 5px;
	  position: relative;
	  overflow: hidden;
	  cursor: pointer;
	  transition: 0.5s;
	  font-weight: 400;
	  font-size: 12px;
	  font-weight: 600;
	  border: 1px solid;
	  text-transform: uppercase;
	  color: var(--color);
	  z-index: 1;
	  text-decoration: none;
	  display: flex;
	  justify-content: center;
	  align-items: center;
	}
  
	.button::before,
	.button::after {
	  content: "";
	  display: block;
	  width: 55px;
	  height: 55px;
	  transform: translate(-50%, -50%);
	  position: absolute;
	  border-radius: 50%;
	  z-index: -1;
	  background: linear-gradient(10deg, blue, green);
	  transition: 1s ease;
	}
  
	.button::before {
	  top: -1em;
	  left: -1em;
	}
  
	.button::after {
	  left: calc(100% + 1em);
	  top: calc(100% + 1em);
	}
  
	.button:hover::before,
	.button:hover::after {
	  height: 410px;
	  width: 410px;
	}
  
	.button:hover {
	  color: rgb(255, 255, 255);
	}
  
	.button:active {
	  filter: brightness(0.8);
	}
  
	@media (width < 330px) {
	  main{
		width: 300px;
	  }
	}
  </style>
  