
  <footer class="footer cursor-default w-full text-white px-8% py-5 flex flex-col justify-between">
    <article class="flex gap-5 justify-between flex-wrap"> 
    <span class="flex flex-col gap-3">
      <h3 class="font-semibold text-transparent bg-clip-text bg-gradient-to-br from-indigo-600 from-10% via-primary via-30% to-green-600"></h3>
      <p class="max-w-sm font-semibold">
        
      </p>
    </span>
    <div class="flex flex-col gap-3">
      
    </div>

  
    <span>
      <h3 class="text-transparent bg-clip-text bg-gradient-to-br from-indigo-600 from-10% via-primary via-30% to-green-600"></h3>
      <div class="flex gap-3">

      </div>
    </span>
  </article>
  <span class="item"></span>

</footer>

<style>
  .footer {
    position: relative;
    min-height: 40vh;
    backdrop-filter: blur(0px) saturate(100%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(0, 0, 0, 0.2);
  }

  span.item {
    position: absolute;
    top: 20%;
    left: 30%;
    width: 120px;
    height: 120px;
    transform: rotate(50deg) skewX(-12deg);
    border-radius: 3rem;
    background-color: #008697;
    filter: blur(3rem);
    opacity: 0.8;
    display: none;
  }

  @media (width > 400px) {
    span.item {
      right: 100px;
      opacity: 0.8;
      display: block;
    }
  }

  @media (width < 600px) {
  .footer{
    padding: 10vh 8%;
  }
    
  }
</style>
